@font-face {
    font-family: Santor;
    src: url("../../../fonts/santor.ttf");
}

@font-face {
    font-family: Social;
    src: url("../../fonts/social_icons.ttf");
}

@font-face {
    font-family: Backspacer;
    src: url("../../fonts/backspacer.ttf");
}
