@import "colors";
@import "fonts";
@import "forms";

$header-size: 70px;
$left-margin: 20px;

body, html {padding: 0; margin: 0; height: 100%; max-height: 100%;}

body {
    background-color: $white;
    //background: url('../../../images/black.jpg') no-repeat center center;
    //background-size: 270% auto;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        text-decoration: underline;
        color: $light-grey;
    }
}

header {
    position: relative;
    height: $header-size;
    background-color: $grey;
    border-bottom: 1px solid $white;

    font-family: Santor, serif;
    color: $white;

    h1 {
        position: absolute;
        margin: 0;
        left: $left-margin;
        top: 20px;

        font-family: inherit;
        color: inherit;
        font-weight: 100;
        text-transform: lowercase;

        a {
            text-decoration: none;
            color: $white;

            &:hover {
                text-decoration: none;
                color: $white;
            }
        }
    }

    blockquote {
        $padding: 5px;
        position: absolute;
        bottom: -3px;
        margin: 0 0 0 $left-margin - $padding;
        padding: 0px 10px 0 $padding;

        background-color: $grey;

        font-size: 0.7em;
    }

    nav {
        $nav-height: 25px;
        height: $nav-height;
        position: absolute;
        right: 10px;
        top: $header-size / 2 - $nav-height / 2;
        vertical-align: middle;

        font-family: Helvetica, sans-serif;
        font-weight: 100;
        font-size: 1.3em;

        a {
            cursor: pointer;
        }
    }
}

#menu-button {
    position: relative;
    display: inline-block;
    height: 19px;
    width: 22px;
    vertical-align: text-top;
    margin: 3px 0 0 10px;
    cursor: pointer;

    span, span:before, span:after {
        content: "";
        display: inline-block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: $white;
        top: 8px;
    }

    span:before {
        top: 0;
        margin-top: -8px;
    }
}

aside {
    position: fixed;
    background-color: $white;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    right: 0;

    transition: margin 350ms ease;

    &.visible {
        margin-right: 0;
    }
}

#comptoir-list

.hidden, .invisible {
    display: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .triangle-1 {
        z-index: -1;
        position: absolute;
        display: block;
        top: -105%;
        background-color: $grey;
        width: 200%;
        height: 150%;

        transform-origin: 0 0;
        transform: rotate(20deg);
    }

    .triangle-2 {
        z-index: -2;
        position: absolute;
        display: block;
        top: 0;
        left: -10%;
        background-color: #EEE;
        width: 150%;
        height: 80%;

        transform-origin: 0 0;
        transform: rotate(-4deg);
    }

    .triangle-3 {
        z-index: -3;
        position: absolute;
        display: block;
        top: 1%;
        left: -20%;
        background-color: #CCC;
        width: 110%;
        height: 83%;

        transform-origin: 0 0;
        transform: rotate(-6deg);
    }

    .triangle-4 {
        z-index: -1;
        position: absolute;
        display: block;
        top: $header-size;
        right: 0;
        background-color: #333;
        width: 150%;
        height: 83%;
        opacity: 0.3;

        transform-origin: 100% 0;
        transform: rotate(-45deg);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: PT Sans Narrow, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: $light-grey;

    &.title {
        font-family: Santor, serif;
        text-transform: lowercase;
        font-size: 1.4em;
    }
}

h2 {
    font-size: 3em;
}

section#content {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    width: 100%;
    text-align: center;

    p {
        font-weight: 100;
        color: $light-grey;
    }

    form#comptoir-form {
        text-align: center;
    }
}

#login-panel, #register-panel, #change-pwd-form {
    position: absolute;
    top: 40%;
    left: $left-margin;
    width: 250px;

    color: $white;

    .title {
        color: inherit;
    }

    input {
        display: block;
        margin: 10px 0;
        width: 100%;
        font-size: 1em;
        font-weight: 100;
    }

    label input[type=checkbox] {
        display: inline;
        width: 20px;
    }

    .hint {
        color: $light-grey;
        font-size: 0.8em;
        font-family: Helvetica, sans-serif;
    }
}

#comptoir-form {
    width: 400px;
    margin: 0 auto;

    color: $white;

    input {
        margin: 10px 0;
        font-size: 1em;
        font-weight: 100;
    }

    label {
        font-size: 1em;
    }
}

#login-panel, #register-panel {
    margin-left: -600px;

    transition: margin 300ms ease;

    &.visible {
        margin-left: 0;
    }
}