@import "colors";
@import "fonts";
@import "forms";

$header-size: 70px;
$left-margin: 20px;

body, html {padding: 0; margin: 0; height: 100%; max-height: 100%;}

body {
    background-color: $white;
    //background: url('../../../images/black.jpg') no-repeat center center;
    //background-size: 270% auto;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        text-decoration: underline;
        color: $light-grey;
    }
}

header {
    position: relative;
    height: $header-size;
    background-color: $grey;
    border-bottom: 1px solid $white;
    z-index: 32;

    font-family: Santor, serif;
    color: $white;

    h1 {
        position: absolute;
        margin: 0;
        left: $left-margin;
        top: 20px;

        font-family: inherit;
        color: inherit;
        font-weight: 100;
        text-transform: lowercase;

        a {
            text-decoration: none;
            color: $white;

            &:hover {
                text-decoration: none;
                color: $white;
            }
        }
    }

    blockquote {
        $padding: 5px;
        position: absolute;
        bottom: -3px;
        margin: 0 0 0 $left-margin - $padding;
        padding: 0px 10px 0 $padding;

        background-color: $grey;

        font-size: 0.7em;
    }

    nav {
        $nav-height: 25px;
        height: $nav-height;
        position: absolute;
        right: 10px;
        top: $header-size / 2 - $nav-height / 2;
        vertical-align: middle;

        font-family: Helvetica, sans-serif;
        font-weight: 100;
        font-size: 1.15em;

        a {
            cursor: pointer;
        }
    }
}

#menu-button {
    position: relative;
    display: inline-block;
    height: 19px;
    width: 22px;
    vertical-align: text-top;
    margin: 3px 0 0 10px;
    cursor: pointer;

    span, span:before, span:after {
        content: "";
        display: inline-block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: $white;
        top: 8px;

        transition: all 250ms ease;
    }

    span:before {
        top: 0;
        margin-top: -8px;
    }
    &.active {
        span:after {
            transform: rotate3d(0, 0, 1, -45deg);
            margin-top: -8px;
        }
        span:before {
            top: 8px;
            margin-top: -8px;
            transform: rotate3d(0, 0, 1, 45deg);
        }
        span {
            background-color: transparent;
        }

    }
}

$aside-width: 250px;
#main-content-wrapper {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;

    &.wrap {
        right: $aside-width;
    }

    transition: right 400ms ease;
}

aside {
    position: fixed;
    background-color: #3B3B3B;
    width: $aside-width;
    top: 0;
    z-index: 16;
    height: 100%;
    margin-right: -$aside-width;
    right: 0;

    transition: margin 400ms ease;

    &.visible {
        margin-right: 0;
    }
    #menu-bottom {
        width: 100%;
        position: absolute;
        bottom: 0;

        .duo {
            background-color: $light-grey;
            width: 100%;
            height: 50px;
            font-family: PT Sans Narrow, sans-serif;
        }
        a {
            display: inline-block;
            width: 50%;
            line-height: 50px;
            font-size: 1.1em;
            text-align: center;
            height: 100%;
            color: black;

            &:hover {
            }
        }
    }
}

#my-comptoirs {
    margin-top: $header-size + 20px;

    h2 {
        font-size: 1.9em;
        text-transform: uppercase;
        margin-left: 40px;
        font-weight: 100;
        color: #767676;
    }
    ul {
        color: #EAEAEA;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
        padding-left: 40px;
        width: 100%;
        height: 50px;
        font-family: PT Sans Narrow, sans-serif;
        line-height: 50px;
        font-size: 1.2em;
        cursor: pointer;
        background-color: transparent;

        transition: background 450ms ease;

        &:hover {
            background-color: $orange;
        }

        &:not(.detail):after {
            content: "+";
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
        &.detail {
            &.hidden {
                display: none;                
            }
        }
    }
}

.badge {
    background-color: #565656;
    font-size: 0.7em;
    width: 25px;
    margin-left: 10px;
    border-radius: 50%;
    vertical-align: middle;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
}

.hidden, .invisible {
    display: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;

    transition: width 400ms ease;

    .triangle-1 {
        z-index: -1;
        position: absolute;
        display: block;
        top: -105%;
        background-color: $grey;
        width: 200%;
        height: 150%;

        transform-origin: 0 0;
        transform: rotate(20deg);
    }

    .triangle-2 {
        z-index: -2;
        position: absolute;
        display: block;
        top: 0;
        left: -10%;
        background-color: #EEE;
        width: 150%;
        height: 80%;

        transform-origin: 0 0;
        transform: rotate(-4deg);
    }

    .triangle-3 {
        z-index: -3;
        position: absolute;
        display: block;
        top: 1%;
        left: -20%;
        background-color: #CCC;
        width: 110%;
        height: 83%;

        transform-origin: 0 0;
        transform: rotate(-6deg);
    }

    .triangle-4 {
        z-index: -1;
        position: absolute;
        display: block;
        top: $header-size;
        right: 0;
        background-color: #333;
        width: 150%;
        height: 83%;
        opacity: 0.3;

        transform-origin: 100% 0;
        transform: rotate(-45deg);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: PT Sans Narrow, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: $light-grey;

    &.title {
        font-family: Santor, serif;
        text-transform: lowercase;
    }
}

section#content {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    width: 100%;
    text-align: center;

    p {
        font-weight: 100;
        color: $light-grey;
    }

    form#comptoir-form {
        text-align: center;
    }
}

#login-panel, #register-panel, #change-pwd-form {
    position: absolute;
    top: 40%;
    left: $left-margin;
    width: 250px;

    color: $white;

    .title {
        color: inherit;
    }

    input {
        display: block;
        margin: 10px 0;
        width: 100%;
        font-size: 1em;
        font-weight: 100;
    }

    label input[type=checkbox] {
        display: inline;
        width: 20px;
    }

    .hint {
        color: $light-grey;
        font-size: 0.8em;
        font-family: Helvetica, sans-serif;
    }
}

#comptoir-form {
    width: 400px;
    margin: 0 auto;

    color: $white;

    input {
        margin: 10px 0;
        font-size: 1em;
        font-weight: 100;
    }

    label {
        font-size: 1em;
    }
}

#login-panel, #register-panel {
    margin-left: -600px;

    transition: margin 300ms ease;

    &.visible {
        margin-left: 0;
    }
}

$comptoir-width: 1024px;
$title-size: 35px;
$bottom-size: 120px;
.cmptr__left {
    position: fixed;
    top: $header-size;
    left: 0;
    bottom: 0;
    width: $comptoir-width;
    background-color: #FFFFFF;

    .panel__top {
        position: absolute;
        background-color: $grey;
        width: 100%;
        text-align: right;
        box-shadow: -6px 0px 4px 1px #CCCCCC;
        height: $title-size;

        .title {
            text-transform: none;
            margin: 10px $left-margin 0 $left-margin;
        }
        .desc {
            color: $light-grey;
            margin: 10px 0 20px $left-margin;
        }
    }
    .panel__center {
        position: fixed;
        top: $header-size + $title-size;
        bottom: $bottom-size;
        left: 0;
        width: $comptoir-width;
        color: #FFFFFF;
    }
    .panel__bottom {
        position: absolute;
        bottom: 0;
        height: $bottom-size;
        width: 100%;

        form {
            position: relative;
            height: $bottom-size - $left-margin * 2;
            padding: $left-margin 0;
        }

        #new-msg {
            position: relative;
            display: block;
            font-size: 1.2em;
            resize: none;
            height: 100%;
            margin-left: 54%;
            width: 42%;
            outline: none;

            &:focus {
                border-color: orange;
            }
        }
    }
}

.cmptr__right {
    position: fixed;
    top: $header-size;
    left: $comptoir-width;
    right: 0;
    bottom: 0;
    background-color: blue;
}

#chatbox {
    .content {
        position: relative;
        height: 100%;
        width: 94%;
        padding: 0 3%;
        color: #000000;
        overflow-y: scroll;

        .myself, .other {
            width: 100%;
            margin-bottom: 20px;


            &.author {
                margin-bottom: 0px;
            }
        }

        .myself {
            &.author .user {
                margin-top: 10px;
                width: 46%;
                margin-left: 54%;
                text-align: left;
                font-style: italic;
            }

            .message {
                width: 42%;
                margin-left: 54%;
                text-align: left;

                position: relative;
                padding: 2%;
                background: #000000;
                color: #FFFFFF;
                font-size: 0.9em;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;

                &:after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 12px 8px 0;
                    border-color: #000000 transparent;
                    display: block;
                    width: 0;
                    z-index: 1;
                    bottom: -12px;
                    left: 9px;
                }
            }
        }
        .other {
            &.author .user {
                margin-top: 10px;
                width: 46%;
                text-align: right;
                font-style: italic;
            }
            .message {
                width: 42%;
                margin-left: 0%;
                text-align: right;

                position: relative;
                padding: 2%;
                background: #cccccc;
                color: #000000;
                font-size: 0.9em;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;

                &:after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 12px 8px 0;
                    border-color: #cccccc transparent;
                    display: block;
                    width: 0;
                    z-index: 1;
                    bottom: -12px;
                    right: 9px;
                }
            }
        }
    }
}