Django==1.6
South==0.8.4
anyjson==0.3.3
django-omnibus==0.1.0
django-redis-sessions==0.4.0
django-socketio==0.3.8
django-websocket-redis==0.4.2
gevent==0.13.8
gevent-socketio==0.2.1
gevent-websocket==0.3.6
greenlet==0.4.1
pytz==2013.9
pyzmq==14.1.1
redis==2.10.3
six==1.8.0
sockjs-tornado==1.0.1
sphinx-me==0.2.1
tornado==3.1.1
websocket==0.2.1
wsgiref==0.1.2
uwsgi==2.0.15
sha3==0.2.1