<!DOCTYPE HTML>

	<head>
	{% block htmlhead %}
	
		<title>Freespeech</title>
		
		{% load staticfiles %}
        
        <link rel="stylesheet" href="{% static 'chat/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'chat/generated/css/style.css' %}" />

		<script src="{% static 'chat/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'chat/js/jquery-2.0.3.min.js' %}"></script>
		
	{% endblock %}
	</head>

	<body>
	
		<header>
		{% block header %}
        <div id="main-block">
		<div id="main-title"><a href="{% url "home" %}">FreeSpeech</a></div>
        {% if not user.is_authenticated %}
            <div id="top-menu"><a href="{% url "login" %}">Log in</a> | <a href="{% url "register" %}">Register</a></div>
            </div>
        {% else %}
            <div id="top-menu"><a href="{% url "logout" %}">Log out</a></div>
            </div>
			<div id="user-name">{{ user }}</div>
        {% endif %}
		{% endblock %}
		</header>

		{% block content %}
		{% endblock %}

		<footer>
		{% block footer %}
		{% endblock %}
		</footer>

	</body>

</html>
