<!DOCTYPE HTML>

	<head>
	{% block htmlhead %}
	
		<title>Freespeech</title>

        <meta charset="iso-8859-1">		

		{% load staticfiles %}
        
        <link rel="stylesheet" href="{% static 'chat/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'chat/css/bootstrap-switch.min.css' %}" />
        <link rel="stylesheet" href="{% static 'chat/generated/css/style.css' %}" />
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
        <script src="{% static 'chat/js/jquery.min.js' %}"></script>
		<script src="{% static 'chat/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'chat/js/bootstrap-switch.min.js' %}"></script>
        <script src="{% static 'chat/js/alerts.js' %}"></script>
	    <script src="{% static 'chat/js/aes.js' %}"></script>
	    <script src="{% static 'chat/js/jscrypt.js' %}"></script>
	    <script src="{% static 'chat/js/aesprng.js' %}"></script>
	    <script src="{% static 'chat/js/entropy.js' %}"></script>
	    <script src="{% static 'chat/js/md5.js' %}"></script>
		
	{% endblock %}
	</head>

	<body>
	
		<header>
		{% block header %}
        <div id="main-block">
            <div id="left-menu">
                <table>
                <tr>
                    <td>
                        <a href="{% url "about" %}">About</a>
                        •
                        <a href="{% url "report" %}">Report a bug</a>
                    </td>
                </tr>
                </table>
            </div>
            <div id="alertBox">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Error!</strong> {{ message }}
                        </div>
                    {% elif message.tags == "warning" %}
                        <div class="alert alert-warning alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Warning!</strong> {{ message }}
                        </div>
                    {% elif message.tags == "info" %}
                        <div class="alert alert-info alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Info!</strong> {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Success!</strong> {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
		    <div id="main-title">
                <a href="{% url "home" %}">FreeSpeech</a>
            </div>
        {% if not user.is_authenticated %}
            <div id="top-menu">
                <a id="login-button">Log in</a> | <a id="register-button">Register</a></div>
            </div>
            
            <blockquote id="main-quote">
                <p>Whereof one cannot speak, thereof one must be silent.<p>
                <small>L.Wittgenstein in <cite title="Source Title">Tractatus</cite></small>
            </blockquote>
            
            <form id="login-form" class="hidden" action="{% url "login" %}" method="post">
            	{% csrf_token %}
                <p><input name="username" type="login" class="form-control" placeholder="Username"></p>
            	<p><input name="password" type="password" class="form-control" placeholder="Password"></p>
            	<p><input type="submit" class="btn btn-default" value="> Log in"></p>
            </form>

            <form class="formContainer hidden" method="post" action="{% url "register" %}" id="register-form">
                {% csrf_token %}
                {% for field in registerForm %}
                    <div class="fieldContainer">
                            {{ field }}
                    </div>
                {% endfor %}
                    <div class="fieldContainer">
                        <input class="form-control" id="beta_key" name="beta_key" placeholder="Beta key" type="text" />
                    </div>
                <div id="submitButton">
                    <input class="btn btn-default" type="submit" value="> Register">
                </div>
            </form>

        {% else %}
            <div id="top-menu">
                <span id="user-name">{{ user }}</span> | <a href="{% url "logout" %}">Log out</a></div>
            </div>
            
            <blockquote id="main-quote">
                <p>Whereof one cannot speak, thereof one must be silent.<p>
                <small>L.Wittgenstein in <cite title="Source Title">Tractatus</cite></small>
            </blockquote>

            <div class="hidden" id="my-comptoirs">
                <p>Comptoirs I have joined</p>
                {% for c in comptoirs %}
                <p>
                    {{ c.title }} 
                    <a href="{% url "join_comptoir" c.id %}" 
                        {% if c.last_message.owner != None %} 
                            class="fsp-tooltip" data-toggle="tooltip" data-original-title="Last message by {{ c.last_message.owner }}<br />({{ c.last_message.date }})" data-html="true" data-placement="right"
                        {% endif %}
                        >
                        {{ c.id }}
                    </a>
                </p>
                {% endfor %}
            </div>
        {% endif %}
        </div>

		{% endblock %}
		</header>

		{% block content %}
		{% endblock %}

		<footer>
		{% block footer %}
		{% endblock %}
		</footer>

	    <script src="{% static 'chat/js/key_management.js' %}"></script>
	    <script src="{% static 'chat/js/form_check.js' %}"></script>
        <script type="text/javascript">
            $('.fsp-tooltip').tooltip();
            $("#login-button").click(function() {
                $("#login-form").toggleClass("hidden");
                $("#register-form").addClass("hidden");
            });
            $("#register-button").click(function() {
                $("#register-form").toggleClass("hidden");
                $("#login-form").addClass("hidden");
            });
            $("#user-name").click(function() {
                $("#my-comptoirs").toggleClass("hidden");
            });
        </script>

	</body>

</html>
