{% extends "chat/base.html" %}

{% block content %}
<div id="home-content">
<div id="plus"><a>+</a></div>
<form action="{% url "create_comptoir" %}" method="post" id="comptoir-form" class="hidden">
<h3>Create a comptoir</h3>
	{% csrf_token %}
    {% for el in comptoir_form %}
        <div class="field">
            <div class="label">{{ el.label }}</div>
            <div class="input">{{ el }}</div>
        </div>
    {% endfor %}
    <input class="btn btn-default submit-button" type="submit">
</form>

</div>
<script type="text/javascript">
    $("#plus a").click(function() {
        $("#comptoir-form").toggleClass("hidden");
    });
</script>
{% endblock %}
