{% extends "chat/base.html" %}

{% block content %}
<section id="registerForm">
<h2>Inscription</h2>
<form class="formContainer" method="post" action="{% url register %}">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldContainer">
            <div class="label">
                {{ field.label }}
            </div>
            <div class="field {% if field.errors %}has-error{% endif %}" id="{{ field.name }}Field">
                {{ field }}
                <div class="help-block">
                    {{ field.errors.as_text }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div id="submitButton">
        <input type="submit" value="Créer mon compte">
    </div>
</form>
{% endblock %}
