{% extends "chat/base.html" %}

{% load chat_tags %}

{% block content %}

    <div class="cmptr__left">
        
        {% include "chat/includes/cmptr.html" %}

    </div>
    <div class="cmptr__right">
        <h2>Parameters of current comptoir</h2>
        <p>
            Je veux être à gauche: <input type="checkbox" id="me_position" />
        </p>
            <ul>
                <input type="text" id="comptoir-key" value="" placeholder="Please provide the comptoir key">
                <input type="text" class="hidden" id="comptoir-key-hash" value="" disabled="true">
            </ul>
    </div>

{% endblock %}

