{% extends "chat/base.html" %}

{% block content %}

    {% load staticfiles %}

    <div id="chatbox">
        <input type="hidden" id="top_senti" value={{ msgs.first.id }}>
        <img src="{% static 'chat/images/loader_ball.gif' %}" alt="Loading ..." class="hidden" id="loader" />
        <table class="cmptr-page">
            <tbody>
            {% for msg in msgs %}
                {% ifchanged %}
                    <tr class="author">
                        <td>{% if msg.owner != user %}<span class="user">{{ msg.owner }}</span>{% endif %}</td>
                        <td class="nopoint"></td>
                        <td>{% if msg.owner == user %}<span class="user">{{ msg.owner }}</span>{% endif %}</td>
                    </tr>
                {% endifchanged %}
                <tr>
                    {# The class attribute is set to "message" if and only if the td is not empty. This is used by the js parser #}
                    <td {% if msg.owner != user %}class="message"{% endif %}><span class="clear"></span><span class="ciphered hidden" >{% if msg.owner != user %}{{ msg.content|unquote_new }}{% endif %}</span></td>
                    {% ifchanged msg.date.day or msg.date.hour or msg.date.minute %}
                    <td class="point"><a href="#" class="fsp-tooltip" data-original-title="{{ msg.date }}" data-placement="{% if msg.owner != user %}right{% else %}left{% endif %}" rel="tooltip"> • </a></td>
                    {% else %}
                    <td class="nopoint"></td>
                    {% endifchanged %}
                    <td {% if msg.owner == user %}class="message" id="{{ msg.id }}" {% endif %}><span class="clear"></span><span class="ciphered hidden">{% if msg.owner == user %}{{ msg.content|unquote_new }}{% endif %}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="hidden" id="last-msg" value="{{ senti }}">
    </div>
    <table class="cmptr-page" id="sendbox">
            <tr>
                <td id="cmptr-info">
                    <h2 class="title">{{ title }}</h2> <span class="desc">{{ description }}</span>
                </td>
                <td class="nopoint"></td>
                <td>
                    <form method="post" id="send-form" class="hidden">
                        {% csrf_token %}
                        <input data-cid="{{ id }}" type="hidden" id="cid" name="cid" value="{{ id }}">
                        {% if user.is_authenticated %}
                            <input type="hidden" id="session_key" value="{{ request.session.session_key }}">
                            <textarea placeholder="What's on your mind ?" name="msg" id="new-msg" class="form-control" autofocus></textarea>
                        {% endif %}
                    </form>
                </td>
            </tr>

        <!--
        <div class="validation">
            <input type="button" value="Wizz!" id="wizz-btn" class="btn btn-default">
            <input type="submit" value="Say!" class="btn btn-default submit-button">
        </div>
        -->

        </table>

{% endblock %}
