
{% load staticfiles %}

{% load chat_tags %}

        <div id="cmptr-info" class="panel__top {% if title_is_ciphered %}ciphered{% endif %}">
            <h3 class="title">
                {% if title_is_ciphered %}
                    <span class="ciphered hidden" >{{ title }}</span>
                    <span class="clear"></span>
                {% else %}
                    {{ title }}
                {% endif %}
            </h3>
            {% comment %}<div class="desc">
                {% if title_is_ciphered %}
                    <span class="ciphered hidden">{{ description }}</span>
                    <span class="clear"></span>
                {% else %}
                    {{ description }}
                {% endif %}
            </div>{% endcomment %}
        </div>
        <div id="chatbox" class="panel__center cmptr-page hidden">
            <div class="content">

                <div class="hidden template" id="tpl-msg-myself">
                    <div data-author="" class="msg-div">
                        <div class="message" id="">
                            <span class="clear"></span>
                            <span class="ciphered hidden"></span>
                            <span class="date"></span>
                        </div>
                    </div>
                </div>

                <div class="hidden template" id="tpl-author">
                    <div class="author">
                        <div class="user"></div>
                    </div>
                </div>

                <div class="hidden template" id="tpl-central">
                    <div class="central-msg">
                        <span>
                        </span>
                    </div>
                </div>

                <div class="hidden template" id="tpl-wizz">
                    <div data-author="" class="wizz-div">
                        <div class="central-msg wizz">
                            <span>
                            </span>
                        </div>
                    </div>
                </div>

                {% for msg in msgs %}
                        {% ifchanged %}
                            {% if forloop.counter0 != 0 %}
                                </div>
                            {% endif %}
                            <div class="author {{ msg.owner|ownership:user }}">
                                <div class="user">{{ msg.owner }}</div>
                            </div>
                            <div data-author="{{ msg.owner }}" class="{{ msg.owner|ownership:user }}">
                        {% endifchanged %}
                            {# The class attribute is set to "message" if and only if the td is not empty. This is used by the js parser #}
                            <div id="{{ msg.id }}" class="message {% if msg.edited %} edited{% endif %}">
                                {% if msg.edited %}
                                <span class="glyphicon glyphicon-pencil"></span>
                                {% endif %}
                                <span class="clear"></span>
                                <span class="ciphered hidden" >{{ msg.content|unquote_new }}</span>
                                <span class="date">
                                    {% if msg.date.day != now.day %} 
                                        {% ifchanged msg.date.day or msg.owner %}
                                            {{ msg.date|format_day }}
                                        {% endifchanged %}
                                    {% else %}
                                        {% ifchanged msg.date.hour or msg.date.minute %}
                                            {{ msg.date|format_time }}
                                        {% endifchanged %}
                                    {% endif %}
                                </span>
                            </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel__bottom">
            <div class="content">
            <form method="post" id="send-form" class="hidden">
                {% csrf_token %}
                <input data-cid="{{ id }}" type="hidden" id="cid" name="cid" value="{{ id }}">
                {% if user.is_authenticated %}
                    <input type="hidden" id="session_key" value="{{ request.session.session_key }}">
                    <div class="myself">
                            <textarea placeholder="..." name="msg" id="new-msg" rows=1 autofocus></textarea>
                    </div>
                {% endif %}
            </form>
            </div>
        </div>

