
                <table class="theader table table-hover">
                    <thead>
                        <td class="td-ciph"></td>
                        <td class="td-name">Comptoirs I have joined</td>
                        <td class="td-addr">Address</td>
                        <td class="td-users">Someone's here ?</td>
                        <td class="td-sound"></td>
                    </thead>
                </table>
                <div class="hiddenscroll">
                    <div class="scrollable">
                        <table class="table table-hover">
                            <tbody>
                                {% for c,n in user.comptoirs reversed %}
                                <tr id="my-{{ c.id }}" {% if c.title_is_ciphered %}class="ciphered"{% endif %}>
                                    <td class="td-ciph">
                                        {% if c.public  %}
                                        {% else %}
                                        <span class="glyphicon glyphicon-lock"></span>
                                        {% endif %}
                                    </td>
                                    <td class="td-name">
                                        <span class="txt">{{ c.title }}</span>
                                        {% if n != 0 %}
                                        <span class="badge active">{{ n }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="td-addr">
                                        <a class="cmptr-link" value="{{ c.id }}"
                                            {% url "join_comptoir" c.id %}
                                            {% if c.last_message.owner != None %}
                                            class="fsp-tooltip" data-toggle="tooltip" data-original-title="Last message by {{ c.last_message.owner }}<br />({{ c.last_message.date }})" data-html="true" data-placement="left"
                                            {% endif %}
                                            >{{ c.id }}</a>
                                    </td>
                                    <td class="td-users"></td>
                                    <td class="td-sound"><span class="toggle-sound glyphicon glyphicon-volume-up"></span></td>
                                </tr>
                                {# <!--</p> Hack to remove whitespace between p elements (note HTML5 compliancy)--> #}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
