
                <table id="options-container">
                    <tr id="cpy-url-btn-tr">
                        <td class="lbl">
                            {# if not public #}
                            <button class="btn btn-default" id="copy-key-button">Copy comptoir key</button>
                            {# endif #}
                        </td>
                        <td class="fld">
                            <button class="btn btn-default" id="copy-url-button">Copy comptoir address</button>
                        </td>
                    </tr>

                    <tr id="msg-alert-tr">
                        <td class="lbl">
                            <label>Allow sounds (general) ?</label>
                        </td>
                        <td class="fld">
                            <input id="sound-alert-btn" value=1 name="sound-alert" type="checkbox" unchecked data-off-text="O" data-on-text="I" checked bootstrap-switch-disabled>
                        </td>
                    </tr>
                    <tr id="notif-alert-tr">
                        <td class="lbl">
                            <label>Notifications ?</label>
                        </td>
                        <td class="fld">
                            <input id="notif-alert-btn" value=1 name="notif-alert" type="checkbox" unchecked data-off-text="O" data-on-text="I" checked bootstrap-switch-disabled>
                        </td>
                    </tr>
                    <tr id="key-tr">
                        <td class="lbl">
                            <label class="control-label" for="comptoir-key">Key</label>
                        </td>
                        <td class="fld">
                            <input id="comptoir-key" class="control-label form-control" value="">
                        </td>
                    </tr>
                    <tr id="hash-tr" class="hidden">
                        <td class="lbl">
                            <label class="control-label" for="comptoir-key-hash">Hash</label>
                        </td>
                        <td class="fld">
                            <input id="comptoir-key-hash" class="form-control" value="" disabled="true">
                        </td>
                    </tr>
                    <tr id="users-connected-tr">
                        <td class="lbl">
                            <label>Online</label>
                        </td>
                        <td id="users-connected" class="fld"></td>
                    </tr>
                </table>
