@import "colors.scss";
@import "fonts.scss";

@mixin transition($variable) {
    -webkit-transition: $variable;
       -moz-transition: $variable;
        -ms-transition: $variable;
            transition: $variable;
}

@mixin transform($variable) {
    -webkit-transform: $variable;
       -moz-transform: $variable;
        -ms-transform: $variable;
            transform: $variable;
}

/* CSS for main boxes
 - - - - - - - - - - - - - - -
*/

html, body {
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: $wetasphalt;
}

section {
    position: absolute;
    left: 0px;
    right: 550px;
    height: 100%;

    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    overflow: -webkit-scrollbars-none;
}


header {
    position: absolute;
    right: 0px;
    width: 550px;
    height: 200px;

    background-color: rgba(0, 0, 0, 1);

    h1 {
        display: inline-block;
        float: right;

        margin: 0 15px 0 0;

        font-family: Santor;
        font-size: 4em;
        line-height: 100px;
    }

    blockquote {
        color: white;
        margin-top: 20px;
        display: block;
    }

    nav {
        display: inline-block;

        width: 100%;
        height: 20%;

        font-size: 1em;

        & > span {
            display: inline-block;
            line-height: 100px;
        }
    }

}

#login-form, #register-form {
    width: 100%;
    padding-right: 20px;

    table {
        min-width: 100%;
        max-width: 100%;
        
        td {
            padding-bottom: 10px;
        }

        .field-td {
            width: 45%;
        }

        .submit-td {
            width: 35%;
        }
    
        .help-td {
            width: 10%;
            padding-bottom: 10px;
            text-align: center;

            .btn {
                margin-top: 0px;
            }
        }

        .field-td, .submit-td {
            input {
                width: 100%;
            }
        }

    }
}


/*
    #register-form, #login-form {
        display: block;
        width: 100%;

        .help-block {
            width: 5%;

        }

        .form-control {
            float: left;
            clear: left;
            margin: 0 0 10px 0;
            width: 50%;
        }

        .btn {
            text-align: center;
            float: right;
            margin-right: 50px;
            width: 25%;
        }

        #submitButton {
            display: block;
        }
    }
*/


/*
#connexion-forms {
    font-size: 0.8em;
    position: absolute;
    top: 200px;
    bottom: 300px;
    width: 550px;

    .theader {
        width: 94%;
        height: 20px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .hiddenscroll {
        overflow: hidden;
        overflow: -moz-scrollbars-none;
    }

    .scrollable {
        position: absolute;
        top: 30px;
        bottom: 0px;
        width: 94%;
        overflow-y: auto;

        td.td-ciph {
            text-align: center;

        }
    }

    td.td-name, td.td-users {
        width: 36%;
    }

    td.td-ciph {
        width: 10%;
    }

    td.td-name {
        span.badge {
            display: inline-block;
            vertical-align: middle;
            float: right;
        }
        span.txt {
            overflow-x: hidden;
        }
    }

    td.td-sound:hover {
        cursor: pointer;
        color: $orange;
    }

    tr {
        background-color: rgba(255, 255, 255, 0.5);
        &:hover {
     //       background-color: rgba(255, 255, 255, 0.9);
        }
    }
}
*/

aside {
    position: fixed;
    right: 0px;
    height: 100%;
    width: 550px;
    
    header { 
        height: 200px;
    }

    #aside-panel {

        position: absolute;
        top: 200px;
        bottom: 50px;
        width: 100%;
        
        .panel-tabs {
            float: right;
            width: 30px;
            
            .tab-area:hover, .active, .active-init {
                cursor: pointer;
                .tab {
                    @include transform(translate(0px, 140px) rotate(-90deg));
                    @include transition(0.3s ease-in-out);
                }
            }

            .tab-area.active {
                    .left-arrow {
                        display: none;
                    }
                    .right-arrow {
                        display: inline-block;
                    }
            }

            .tab {
                width: 140px;
                height: 140px;
                -webkit-transform-origin: left top 0;
                   -moz-transform-origin: left top 0;
                    -ms-transform-origin: left top 0;
                        transform-origin: left top 0;
                @include transform(translate(20px, 140px) rotate(-90deg));
                @include transition(0.3s ease-in-out);
                margin-bottom: 2px;
                background-color: rgba(255,255,255,0.9);
                border-style: solid;
                border-width: 2px 2px 2px 2px;
                border-color: #428bca;
                border-radius: 5px;

                text-align: center;
                padding-top: 5px;

                .left-arrow {
                    display: inline-block;
                }
                .right-arrow {
                    display: none;
                }

            }
        }

        .panel-contents {
            float: left;
            height: 100%;

            .content
            {
                padding: 15px;

                width: 510px;
                min-height: 350px;
                max-height: 100%;
                display: inline-block;
                border-style: solid;
                border-color: #428bca;
                border-radius: 5px;
                border-width: 0px;
            
                background-color: rgba(255,255,255,0.9);

                @include transform(translate(550px, 0px));
                @include transition(0.5s ease-in-out);

                position: absolute;

                &.active {
                    display: block;
                    @include transform(translate(0px, 0px));
                    @include transition(0.5s ease-in-out);
                }
            }

            #my-comptoirs {
                font-size: 0.8em;
                height: 100%;

                .theader {
                    width: 94%;
                    height: 20px;
                    font-weight: bold;
                    margin-bottom: 0px;
                }

                .hiddenscroll {
                    overflow: hidden;
                    overflow: -moz-scrollbars-none;
                }

                .scrollable {
                    position: absolute;
                    top: 50px;
                    bottom: 0px;
                    width: 94%;
                    overflow-y: auto;

                    td.td-ciph {
                        text-align: center;

                    }
                }

                td.td-name, td.td-users {
                    width: 36%;
                }

                td.td-ciph {
                    width: 8%;
                }

                td.td-name {
                    span.badge {
                        display: inline-block;
                        vertical-align: middle;
                        float: right;
                    }
                    span.txt {
                        overflow-x: hidden;
                    }
                }

                td.td-sound:hover {
                    cursor: pointer;
                    color: $orange;
                }

                .scrollable tr {
                    &:hover {
                    }
                }

            }
        }

    }

    footer {
        text-align: right;
        width: 94%;
        height: 30px;
        margin: auto 3%;
        position: absolute;
        bottom: 0px;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $orange;
    text-decoration: none;
}

#plus {
    font-size: 30em;
    text-align: center;
    @include transform(rotate(0deg));
    @include transform(translate(0px, 0px));

    @include transition(0.5s ease-in-out);
//    @include transition(0.5s transform ease-in-out);

    a {
        color: $midnightblue;
    }

    a:hover {
        color: $orange;
    }

    &.toggle {
        font-size: 5em;
//        @include transform(translate(-150px, 0px));
//        @include transform(rotate(90deg));
    }
}

#comptoir-form {

    text-align: center;

    border-style: solid;
    border-color: #428bca;
    border-radius: 5px;
    border-width: 0px;
    
    background-color: rgba(255,255,255,0.9);


    h3 {
        margin-bottom: 50px;
    }

    table#form-tab {

        margin: auto;

        width: 500px;

        tr {
            height: 50px;
            padding-top: 10px;
        }

        td.lbl {

            width: 45%;

            font-size: 1em;

            text-align: right;
            padding-right: 20px;
            margin-left: 20px;
            font-weight: bold;

            color: $midnightblue;

        }

        td.fld {
            width: 45%;
            text-align: left;

            overflow: scroll;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;

        }

        td.hlp {
            width: 10%;
        }

        #generate-key, #manage-key {
            width: 100%;
            text-align: center;
        }

        td#note {
            padding-left: 100px;
            text-align: justify;
        }

        #submit-comptoir-container {
            padding-top: 50px;
            text-align: right;
        }
    }
}

#page-content {

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    width: 800px;
    margin: auto;

}

#content {

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 550px;
    
    &.cmptr-page {
        background-image: url('../../images/vert-line.png');
        background-repeat: repeat-y;
        background-size: 22px;
        background-position: center;
    }


    #chatbox {

        background-color: black;
        color: white;

        position: absolute;
        top: 0px;
        bottom: 150px;
        min-width: 100%;
        max-width: 100%;
        overflow-y: scroll;
        word-break: break-all;

        #loader {
            width: 12px; 
            margin: auto;
            margin-bottom: 10px;
            padding-top: 50px;
        }
    
        text-align: center;
    
        .msg-info {
                
            margin-bottom: 0px;
            
            .user {
                font-weight: bold;    
            }
    
        }
    
        .date-of-msg {
            font-size: 0.8em;
        }
    
        .others .date-of-msg {
            margin-left: 10px;
        }
    }
    
    #sendbox {
        position: absolute;
        bottom: 0px;
        height: 150px;
        width: 94%;
    }
    
    table.cmptr-page {
        min-width: 94%;
        max-width: 94%;
        margin: auto 3%;
        tr {
            min-width: 100%;
            max-width: 100%;
            &.author {
                font-weight: bold;
            }
            td {
                width: 2%;
                text-align: center;
                vertical-align: top;

                /*
                &.nopoint {
                    background-image: url('../../images/vert-line.png');
                    background-size: 100%;
                    background-repeat: repeat-y;
                }
                */
                // background-position: 11px 0px;
    
                &.point {
                    background-color: black;
                }
            }
            td:first-child {
                width: 49%;
                text-align: right;
                background: none;
            }
            td:last-child {
                width: 49%;
                text-align: left;
                background: none;
    
            }
            &.senti {
                th {
                    text-align: center;
                }
                  border-style: solid;
                border-width: 1px 0px 0px 0px;
                border-color: #428bca;
    
            }

            td.central-msg {
                width: 100%;
                text-align: center;
                color: #428bca; 
                background-color: black;
            }
        }
    }

}

#send-form {
    div {
        margin: auto 3%;
        width: 94%;
    }

    #new-msg {
        width: 94%;
        height: 90px;
        padding: 5px;
        resize: none;

        display: block;

        margin: 30px 3%;
    }

    .validation {
        text-align: right;
    }
}

table#options-container {
    width: 94%;
    margin: auto 3%;

    tr {
        height: 50px;
    }

    td {
        width: 50%;
    }

    td.lbl {
        line-height: 50px;
        vertical-align: middle;

    }
    td button {
        width: 100%;
    }
}

#user-name {
    color: #428bca;
}

#user-name:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}


.invisible {
    visibility: hidden;
}

#alertBox {
    position: absolute;
    z-index: 9999;
}


.alert {
    display: block;
    width: 600px;
    margin: 10px;
    cursor: pointer;
    @include transition(0.3s opacity ease);

    &:hover {
        opacity: 0.3;
    }
}

#msg-alert-tr, #notif-alert-tr {
    .fld {
        text-align: right;
    }
}

.formContainer#reportForm {
    textarea {
        resize: none;
    }
    margin: auto;
    width: 400px;
}

#edit-msg-box {
    resize: none;
    height: 90px;
}

/* HACK bootstrap tooltip */

.tooltip {
    position: fixed;
}

img.smiley {
    height: 1.2em;
}

.msg-deleted {
    color: #428bca;
}

.glyphicon {
        zoom: 70%;
        margin-left: 5px;
        margin-right: 5px;
}

.glyphicon-options {
    display: inline-block;
    float: right;

    span:hover {
        color: $orange;
        cursor: pointer;
    }
}


div#aside-bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 550px;
    background-color: black;
    background-image: url('../../images/charlie.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
}

.charlie {
    background-color: black;
    background-image: url('../../images/charlie.jpg');
    background-position: center;
    background-repeat: no-repeat;
 }
