@import "colors.scss";
@import "fonts.scss";

@mixin transition($variable) {
    -webkit-transition: $variable;
       -moz-transition: $variable;
        -ms-transition: $variable;
            transition: $variable;
}

@mixin transform($variable) {
    -webkit-transform: $variable;
       -moz-transform: $variable;
        -ms-transform: $variable;
            transform: $variable;
}

/* CSS for main boxes
 - - - - - - - - - - - - - - -
*/

html, body {
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;

    color: $wetasphalt;
}

section {
    position: absolute;
    left: 0px;
    right: 550px;
    height: 100%;

    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
}


header {
    position: absolute;
    right: 0px;
    width: 550px;
    height: 250px;

    h1 {
        display: inline-block;
        float: right;

        margin: 0 15px 0 0;

        font-family: Santor;
        font-size: 4em;
        line-height: 100px;
    }

    blockquote {
        display: block;
        height: 17%;
    }

    nav {
        display: inline-block;

        width: 100%;
        height: 20%;

        font-size: 1em;

        & > span {
            display: inline-block;
            line-height: 100px;
        }
    }

    #cmptr-info {
        margin-top: 50px;
        margin-bottom: 20px;
    }

}

    #register-form, #login-form {
        display: block;
        width: 100%;

        .help-block {

        }

        .form-control {
            float: left;
            clear: left;
            margin: 0 0 10px 0;
            width: 50%;
        }

        .btn {
            text-align: center;
            float: right;
            margin-right: 50px;
            width: 30%;
        }
    }

#my-comptoirs {
    font-size: 0.8em;
    height: 300px;
        
    .theader {
        height: 20px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .scrollable {
        overflow-y: scroll;
        overflow: -moz-scrollbars-none;
    }

    td.td-name, td.td-users {
        width: 41%;
    }

    td.td-name {
        span.badge {
            display: inline-block;
            vertical-align: middle;
            float: right;
        }
        span.txt {
            overflow-x: hidden;
        }
    }
}


aside {
    position: absolute;
    right: 0px;
    top: 250px;
    bottom: 0px;
    width: 500px;

    footer {
        text-align: right;
        width: 94%;
        margin: auto 3%;
        position: absolute;
        bottom: 0px;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $orange;
    text-decoration: none;
}

#plus {
    font-size: 30em;
    text-align: center;
    @include transform(rotate(0deg));

    @include transition(0.5s font-size ease-in-out);
    @include transition(0.5s transform ease-in-out);

    a {
        color: $midnightblue;
    }

    a:hover {
        color: $orange;
    }

    &.toggle {
        font-size: 5em;
        @include transform(rotate(360deg));
    }
}

#comptoir-form {

    text-align: center;

    h3 {
        margin-bottom: 50px;
    }

    table#form-tab {

        margin: auto;

        width: 500px;

        tr {
            height: 50px;
            padding-top: 10px;
        }

        td.lbl {

            width: 45%;

            font-size: 1em;

            text-align: right;
            padding-right: 20px;
            margin-left: 20px;
            font-weight: bold;

            color: $midnightblue;

        }

        td.fld {
            width: 45%;
            text-align: left;

            overflow: scroll;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;

        }

        td.hlp {
            width: 10%;
        }

        #generate-key, #manage-key {
            width: 100%;
            text-align: center;
        }

        td#note {
            padding-left: 100px;
            text-align: justify;
        }

        #submit-comptoir-container {
            padding-top: 50px;
            text-align: right;
        }
    }
}

#page-content {

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    width: 800px;
    margin: auto;

}

#chatbox {

    #loader {
        width: 12px; 
        margin: auto;
        margin-bottom: 10px;
        padding-top: 50px;
    }

    text-align: center;

    table {
        width: 94%;
        margin: auto 3%;
        tr {
            &.author {
                font-weight: bold;
            }
            td {
                width: 2%;
                text-align: center;
                vertical-align: baseline;

                &.nopoint {
                    background-image: url('../../images/vert-line.png');
                    background-size: 100%;
                    background-repeat: repeat-y;
                }
                // background-position: 11px 0px;

                &.point {
                    background-image: url('../../images/vert-line-80.png');
                    background-size: 100% 100%;
                }
            }
            td:first-child {
                width: 49%;
                text-align: right;
                background: none;
            }
            td:last-child {
                width: 49%;
                text-align: left;
                background: none;
            }
            &.senti {
                th {
                    text-align: center;
                }
/*                border-style: solid;
                border-width: 1px 0px 0px 0px;
                border-color: #428bca;
*/
            }
        }
    }

    .msg-info {
            
        margin-bottom: 0px;
        
        .user {
            font-weight: bold;    
        }

    }

    .date-of-msg {
        font-size: 0.8em;
    }

    .others .date-of-msg {
        margin-left: 10px;
    }
}

div#aside-panel {
    position: fixed;
    bottom: 30px;
    right: 0px;
    width: 500px;
}


#send-form {
    div {
        margin: auto 3%;
        width: 94%;
    }

    #new-msg {
        width: 94%;
        height: 90px;
        padding: 5px;
        resize: none;

        display: block;

        margin: 30px 3%;
    }

    .validation {
        text-align: right;
    }
}

table#options-container {
    width: 94%%;
    margin: auto 3%;

    tr {
        height: 50px;
    }

    td {
        width: 50%;
    }

    td.lbl {
        line-height: 50px;
        vertical-align: middle;

    }
    td button {
        width: 100%;
    }
}

#user-name {
    color: #428bca;
}

#user-name:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}


.invisible {
    visibility: hidden;
}

#alertBox {
    position: absolute;
    z-index: 9999;
}


.alert {
    display: block;
    width: 600px;
    margin: 10px;
    cursor: pointer;
    @include transition(0.3s opacity ease);

    &:hover {
        opacity: 0.3;
    }
}

#msg-alert-tr {
    .fld {
        text-align: right;
    }
}

.formContainer#reportForm {
    textarea {
        resize: none;
    }
    margin: auto;
    width: 400px;
}


/* HACK bootstrap tooltip */

.tooltip {
    position: fixed;
}

img.smiley {
    height: 1.2em;
}

#cmptr-info {
}
